*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-width: 22rem;
}

body {
  min-width: 22rem;
  font-size: 1.4rem;
  font-family: 'Roboto Condensed', sans-serif;
}

/* ----------------------------------------Nav Bar------------------------------------------------ */
nav {
  display: flex;
  width: 100%;
  margin: 0;
  height: 5.5rem;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  z-index: 1;
  position: fixed;
}

.first_nav {
  width: 10%;
}

.first_nav img {
  width: 10rem;
  margin-top: 2rem;
}

.second_nav {
  width: 50%;
  display: flex;
  align-items: center;
}

.second_nav ul {
  display: flex;
  align-items: center;
  width: 100%;
}

.second_nav ul li {
  list-style: none;
  flex: 1;
  justify-self: center;
}

.second_nav ul li:hover {
  /* border-right: 1px solid black;
  border-left: 1px solid black; */
  border: 1px solid black;
  border-radius: 0.5rem;
}

.second_nav ul a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-family: 'Abril Fatface', cursive;
}

.third_nav-social {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: space-around;
}

.third_nav-social i {
  color: white;
  font-size: 2rem;
}

/* ffc502 */
/* DD001B */
/* 8E8703 */
/*------------------------------------------------- First Main Container-------------------------- */
.first_main-container {
  width: 100%;
  background-image: url(img/background_red.jpg);
  background-position: center;
  background-size: cover;
  height: 70rem;
  display: flex;
  border-bottom: 10px;
/*   border-image: linear-gradient(180deg, rgba(196,25,25,1) 0%, rgba(141,141,141,1) 100%); */
  border-image-outset: linear-gradient(180deg, rgba(196,25,25,1) 0%, rgba(141,141,141,1) 100%);
  position: relative;
}

.Ramon_principal {
  position: absolute;
  width: 33rem;
  height: auto;
  right: 0;
  bottom: 0;
  filter: drop-shadow(2px 2px 0 white) 
          drop-shadow(-2px -2px 0 white);
  transition:  width 1s ease-in;
}

.Ramon_principal:hover {
  width: 40rem;
  cursor: pointer;
  filter: drop-shadow(1px 1px 0 green) 
          drop-shadow(-1px -1px 0 green);
}

.Emilio_principal {
  position: absolute;
  width: 30rem;
  height: auto;
  right: 40rem;
  bottom: 0;
  filter: drop-shadow(2px 2px 0 white) 
          drop-shadow(-2px -2px 0 white);
  transition:  width 1s ease-in;
}

.Emilio_principal:hover {
  width: 37rem;
  cursor: pointer;
  filter: drop-shadow(1px 1px 0 purple) 
          drop-shadow(-1px -1px 0 purple);
}

.Diego_principal {
  position: absolute;
  width: 20rem;
  height: auto;
  left: 5rem;
  bottom: 0;
  filter: drop-shadow(2px 2px 0 white) 
          drop-shadow(-2px -2px 0 white);
  transition:  width 1s ease-in;
}

.Andre_principal {
  position: absolute;
  width: 25rem;
  height: auto;
  left: 33rem;
  bottom: 0;
  filter: drop-shadow(2px 2px 0 white) 
          drop-shadow(-2px -2px 0 white);
  transition:  width 1s ease-in;
}

.Andre_principal:hover {
  width: 32rem;
  cursor: pointer;
  filter: drop-shadow(1px 1px 0 red)
          drop-shadow(-1px -1px 0 red);
}

.Diego_principal:hover {
  width: 27rem;
  cursor: pointer;
  filter: drop-shadow(1px 1px 0 orange) 
          drop-shadow(-1px -1px 0 orange);
}

.first_container-text {
  color: white;
  width: 30%;
  position: absolute;
  bottom: 35rem;
  left: 10rem;
}

.first_container-text p {
  font-family: 'Courier Prime', monospace;
}

.first_container-text h1 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 0.3rem;
}

.container-description-buttons button {
  margin-top: 1rem;
  width: 10rem;
  height: 4rem;
  border: none;
  background: rgba( 255, 255, 255, 0.5);
  border: 1px solid red;
  border-radius: 1rem;
}

.container-description-buttons button:hover {
  background: rgba( 255, 255, 255, 1);
}

.container-description-buttons button a {
  text-decoration: none;
  color: black;
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.container-description-buttons button a:hover {
  color: red;
}

/*---------------------------------------------- First Song Section --------------------------------------*/
.first_song-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.main_logo-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 3rem;
}

.iframe-container{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; 
}

.television {
  position: absolute;
  width: 100%;
}

.iframe-container iframe{
  position: absolute;
  top: 15%;
  left: 25%;
  margin: 0 auto;
  width: 36%;
  height: 48%;
  border-radius: 2rem;
}

.first_lyrics-container {
  width: 30rem;
  text-align: justify;
  font-style: italic;
  font-weight: bold;
  font-size: 1.7rem;
  margin-left: 2rem;
}

/*------------------------------------------- Gallery Section ---------------------------------*/
.gallery_title-container {
  display: flex;
  text-align: center;
  align-items: center;
  height: 5.5rem;
}

.gallery {
  width: 70%;
  margin: 0 auto;
}

.gallery_title-container h1 {
  margin: 0 auto;
  color: #8E8703;
  font-family: 'Abril Fatface', cursive;
  font-weight: bold;
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
