*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-width: 22rem;
}

body {
  min-width: 22rem;
  font-size: 1.4rem;
  font-family: 'Roboto Condensed', sans-serif;
}

/* fuente de textos largos font-family: 'Alice', serif; */
/* fuente de títulos font-family: 'Lexend Tera', sans-serif; */

/* ----------------------------------------Nav Bar------------------------------------------------ */
nav {
  display: flex;
  width: 100%;
  margin: 0;
  height: 5.5rem;
  align-items: center;
  justify-content: space-around;
  background-color: #faebee;
  z-index: 1;
  position: fixed;
}

.first_nav {
  width: 10%;
}

.first_nav img {
  width: 7rem;
  margin-left: 3rem;
}

.second_nav {
  width: 50%;
  display: flex;
  align-items: center;
}

.second_nav ul {
  display: flex;
  align-items: center;
  width: 100%;
}

.second_nav ul li {
  list-style: none;
  flex: 1;
  justify-self: center;
}

.second_nav ul li:hover {
  border-left: 2px solid #85c555;
  border-right: 2px solid #85c555;
}

.second_nav ul a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  font-size: 1.4rem;
  padding-top: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #0f4c81;
  font-family: 'Lexend Tera', sans-serif;
}

.third_nav-social {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: space-around;
}

.third_nav-social i {
  color: #0f4c81;
  font-size: 2rem;
}

/* ffc502 */
/* DD001B */
/* 8E8703 */
/*------------------------------------------------- First Main Container-------------------------- */
.first_main-container {
  width: 100%;
  background-image: url(img/estayaqueda.png);
/*   background-color: white; */
  background-position: center;
  background-size: cover;
  filter: opacity(25);
  height: 70rem;
  display: flex;
  border-bottom: 10px;
  border-image-outset: linear-gradient(180deg, rgba(196,25,25,1) 0%, rgba(141,141,141,1) 100%);
  position: relative;
}

.Ramon_principal {
  position: absolute;
  width: 37rem;
  height: auto;
  right: 0;
  bottom: 0;
  filter: drop-shadow(4px 4px 0 #a0b5d1) 
          drop-shadow(-4px -4px 0 #a0b5d1);
  transition:  width 1s ease-in;
}

.Ramon_principal:hover {
  width: 43rem;
  cursor: pointer;
  filter: drop-shadow(4px 4px 0 #a0b5d1) 
          drop-shadow(-4px -4px 0 #a0b5d1);
}

.Emilio_principal {
  position: absolute;
  width: 30rem;
  height: auto;
  right: 40rem;
  bottom: 0;
  filter: drop-shadow(4px 4px 0 #faebee) 
          drop-shadow(-4px -4px 0 #faebee);
  transition:  width 1s ease-in;
}

.Emilio_principal:hover {
  width: 37rem;
  cursor: pointer;
  filter: drop-shadow(4px 4px 0 #faebee) 
          drop-shadow(-4px -4px 0 #faebee);
}

.Diego_principal {
  position: absolute;
  width: 20rem;
  height: auto;
  left: 5rem;
  bottom: 0;
  filter: drop-shadow(4px 4px 0 #faebee) 
          drop-shadow(-4px -4px 0 #faebee);
  transition:  width 1s ease-in;
}

.Andre_principal {
  position: absolute;
  width: 25rem;
  height: auto;
  left: 33rem;
  bottom: 0;
  filter: drop-shadow(4px 4px 0 #a0b5d1) 
          drop-shadow(-4px -4px 0 #a0b5d1);
  transition:  width 1s ease-in;
}

.Andre_principal:hover {
  width: 32rem;
  cursor: pointer;
  filter: drop-shadow(4px 4px 0 #a0b5d1) 
          drop-shadow(-4px -4px 0 #a0b5d1);
}

.Diego_principal:hover {
  width: 27rem;
  cursor: pointer;
  filter: drop-shadow(4px 4px 0 #faebee) 
          drop-shadow(-4px -4px 0 #faebee);
}

.first_container-text {
  color: white;
  width: 40%;
  margin: 13rem auto 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.first_container-text p {
  font-family: 'Alice', serif;
  font-size: 1.7rem;
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  color: #a0b5d1;
}

.first_container-text h1 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 5rem;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 0.3rem;
  color: #0f4c81;
}

.container-description-buttons button {
  margin-top: 1rem;
  width: 14rem;
  height: 4rem;
  border: none;
  background: rgba( 255, 255, 255, 0.5);
  border-radius: 1rem;
}

.container-description-buttons button:hover {
  background: rgba( 255, 255, 255, 1);
}

.container-description-buttons button a {
  text-decoration: none;
  color: black;
  font-family: 'Lexend Tera', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.container-description-buttons button a:hover {
  color: #85c555;
}

/*---------------------------------------------- First Song Section --------------------------------------*/
.first_song-container {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #faebee;
}

.main_logo-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 3rem;
}

.iframe-container{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 45.25%;
}

.television {
  position: absolute;
  width: 100%;
}

.iframe-container iframe{
  position: absolute;
  top: 20%;
  left: 25%;
  margin: 0 auto;
  width: 36%;
  height: 59%;
  border-radius: 2rem;
}

.first_lyrics-container {
  width: 38%;
  text-align: justify;
  font-style: italic;
  font-weight: bold;
  font-family: 'Alice', serif;
  font-size: 2rem;
  margin: 0 auto;
}

/*------------------------------------------- Gallery Section ---------------------------------*/
.galeria {
  width: 100%;
  background-image: url(img/estayaqueda.png);
  background-size: cover;
}

.gallery_title-container {
  display: flex;
  text-align: center;
  align-items: center;
  height: 5.5rem;
  padding: 5rem 0 4rem 0;
}

.gallery {
  width: 70%;
  margin: 0 auto;
}

.gallery_title-container h1 {
  margin: 3rem auto;
  color: #0f4c81;
  font-family: 'Lexend Tera', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
